* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    color: var(--blue);
    padding: 10px 1.5em 1.5em 1.5em;
}

header h1 {
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
}

div #box1 {
    border-right: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
}

div #box2 {
    border-right: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
}

div #box3 {
    border-bottom: 3px solid var(--white);
}

div #box4 {
    border-right: 3px solid var(--white);
}

div #box5 {
    border-right: 3px solid var(--white);
}

div #box7 {
    border-right: 3px solid var(--white);
    border-top: 3px solid var(--white);
}

div #box8 {
    border-right: 3px solid var(--white);
    border-top: 3px solid var(--white);
}

div #box9 {
    border-top: 3px solid var(--white);
}

:root {
    --black: #181823;
    --purple: #537fe7;
    --blue: #c0eef2;
    --white: #e9f8f9;
}

.gameboard {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: 70%;
    height: 320px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--purple);
    font-family: 'Gochi Hand', cursive;
    font-size: 140px;
}

.winner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.winner {
    color: var(--white);
    font-size: 1.5rem;
}

.play-again,
.new-game {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard-container {
    text-align: center;
    color: var(--blue);
    padding-top: 1rem;
}

.play-again,
.scoreboard-container {
    display: none;
}

.scores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-style: italic;
    color: var(--blue);
}

/* Pop-ups */
.player1-popup,
.choose-rival,
.player2-popup {
    display: none;
    flex-direction: column;
    width: 30%;
    background-color: var(--purple);
    padding: 2rem;
    gap: 10px;
    border: 2px solid var(--blue);
    border-radius: 10px;
    color: var(--black);
    font-size: 1.5rem;
    transform: translate(117%, -180%);
}

.choose-rival {
    transform: translate(117%, -200%);
    align-items: center;
}

.choose-rival h3 {
    font-weight: 400;
}

input.p1name,
input.p2name {
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.btn-next,
.btn-cancel,
.btn-p2,
.btn-AI {
    font-style: inherit;
    font-size: 1.2rem;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 20%;
    align-self: center;
    background-color: var(--blue);
    color: var(--black);
}

.btn-p2,
.btn-AI {
    width: 25%;
}

.btn-next:hover,
.btn-cancel:hover,
.btn-p2:hover,
.btn-AI:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.play-again-btn,
.new-game-btn {
    font-style: inherit;
    font-size: 1.2rem;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: var(--purple);
    color: var(--black);
}

.play-again-btn:hover {
    background-color: var(--black);
    color: var(--purple);
    border: 1px solid var(--purple);
}

.new-game-btn {
    transition: all 0.5s;
    padding-left: 1.2rem;
}

.new-game-btn:after {
    content: ' \00bb';
    opacity: 0;
}

.new-game-btn:hover:after {
    opacity: 1;
    padding-right: 1rem;
}

button span {
    padding-right: 5px;
}
